<a href="https://colab.research.google.com/github/NatalyChetkova/Python/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Д.з."Введение в типы данных и циклы. Часть 1"

Задание 1
Дана переменная, в которой хранится слово из латинских букв. Напишите код, который выводит на экран:
среднюю букву, если число букв в слове нечетное;
две средних буквы, если число букв четное.

In [ ]:
word = 'veritas'
if len(word)%2 == 1:
    print(word[len(word)//2])
else:
    print(word[len(word)//2 - 1], word[-len(word)//2])

i

In [ ]:
word = 'iustitia'
if len(word)%2 == 1:
    print(word[len(word)//2])
else:
    print(word[len(word)//2 - 1], word[-len(word)//2])

t i

Задание 2
Напишите программу, которая последовательно запрашивает у пользователя числа (по одному за раз) и после первого нуля выводит сумму всех ранее введенных чисел.

In [ ]:
my_num = int(input('Введите одно число: '))
res = 0
while my_num != 0:
    res = res + my_num  
    my_num = int(input('Введите одно число: '))
print('Результат: ', res)

Введите одно число: 0
Результат:  0

Задание 3. Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек.
Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! Но мы не будем никого знакомить, если кто-то может остаться без пары

In [1]:
man_list = ['Ivan', 'Alex', 'Jon', 'Mikle', 'Eduard', 'Jan', 'Florian', 'Jeck']
woman_list = ['Maria', 'Anna', 'Julia', 'Luiza', 'Elizabet', 'Stefani', 'Elza', 'Klaudia', 'Alla']
boys = sorted(man_list)
girls = sorted(woman_list)
if len(boys) == len(girls):
  couple_list = zip(boys, girls)
  list(couple_list)
else:
  print('Внимание, кто-то может остаться без пары!')

Внимание, кто-то может остаться без пары!

In [6]:
man_list = ['Ivan', 'Alex', 'Jon', 'Mikle', 'Eduard', 'Jan', 'Florian', 'Jeck']
woman_list = ['Maria', 'Anna', 'Julia', 'Luiza', 'Elizabet', 'Stefani', 'Elza', 'Klaudia']
boys = sorted(man_list)
girls = sorted(woman_list)
if len(boys) == len(girls):
  couple_list = zip(boys, girls)
  finish_list = list(couple_list)
  print('Идеальные пары: ')
  for man in finish_list:
    print(man[0], 'и', man[1])
else:
  print('Внимание, кто-то может остаться без пары!')

Идеальные пары:
Alex и Anna
Eduard и Elizabet
Florian и Elza
Ivan и Julia
Jan и Klaudia
Jeck и Luiza
Jon и Maria
Mikle и Stefani

Задание 4. У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за произвольный период по странам (структура данных в примере). Необходимо написать код, который рассчитает среднюю температуру за период в Цельсиях(!) для каждой страны.

Результат:

Средняя температура в странах:
Thailand - 23.9 С
Germany - 13.8 С
Russia - 3.7 С
Poland - 12.0 С

In [22]:
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
print('Средняя температура в странах: ')
for man in countries_temperature:
    print(man[0], '-', round(5/9 * (sum(man[1])/len(man[1])-32), 1), 'C')

Средняя температура в странах:
Thailand - 23.9 C
Germany - 13.8 C
Russia - 3.7 C
Poland - 12.0 C